<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APP_NAME</key>
	<string>${APP_NAME}</string>
	<key>Api_key</key>
	<string>${Api_key}</string>
	<key>BundleI</key>
	<string></string>
</dict>
</plist>
